body {
  color: #47A3DA;
  font-family: helvetica;
  text-align: center; }

header {
  margin-right: 0; }
  header .company {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 9px;
    font-size: 1.2rem; }
  header .fa-question-circle-o {
    vertical-align: super;
    font-size: 1rem; }
  header .title {
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 0; }
  header ul {
    padding-left: 0; }
    header ul .header-icons {
      border: 4px solid #47A3DA;
      list-style-type: none;
      display: inline-block;
      border-radius: 50%;
      width: 19px;
      font-size: 1rem;
      padding: 0.5rem; }

nav .tabs {
  margin: 0;
  padding: 3rem 0;
  list-style-type: none; }
  nav .tabs .tab {
    float: left;
    width: 20%;
    padding: 1rem 0.05rem;
    border: solid #47A3DA;
    border-width: 1px 1px 1px 1px;
    box-sizing: border-box; }
  nav .tabs .tab:hover {
    border-top: 2px solid #47A3DA;
    border-bottom: 0;
    margin: 0; }
  nav .tabs .tab:first-child {
    border-left: 0; }
  nav .tabs .tab:last-child {
    border-right: 0; }
  nav .tabs .tab a {
    text-decoration: none;
    color: #47A3DA; }
  nav .tabs .tab:hover a {
    color: #CAD4DA; }
  nav .tabs label {
    margin-left: 0 auto;
    font-size: 1.5rem; }
  nav .tabs [type=radio] {
    display: none; }

.main-wrapper {
  padding-top: 3rem; }
  .main-wrapper .main1 {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #47A3DA; }
  .main-wrapper .sushi-pic {
    width: 25%;
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    color: #47A3DA; }
  .main-wrapper .main-heading {
    font-size: 1.5rem; }
  .main-wrapper .main-text {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem; }

footer {
  padding-top: 3rem; }
  footer a {
    text-decoration: none;
    color: #CAD4DA; }

@media screen and (min-width: 510px) {
  nav {
    padding-left: 9rem;
    padding-bottom: 0.9rem;
    border-bottom: 1px solid #47A3DA;
    margin: 0;
    width: 100%; }
    nav .tabs {
      width: 50%; }
      nav .tabs .tab {
        border-width: 1px 1px 0 1px; }
      nav .tabs .tab:hover {
        border-bottom: 2px solid white; }
      nav .tabs .tab:first-child {
        border-left: 1px solid #47A3DA; }
      nav .tabs .tab:last-child {
        border-right: 1px solid #47A3DA; }

  .main-info .main-wrapper .main1 {
    float: left;
    width: 28%;
    background-color: #47A3DA; }
  .main-info .main-wrapper .sushi-pic {
    width: 15%;
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    color: #47A3DA; }
  .main-info .main-wrapper .main-heading {
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 17rem;
    text-align: left;
    font-size: 1.1rem; }
  .main-info .main-wrapper .main-text {
    font-size: 0.9rem;
    margin-top: 0;
    margin-left: 15rem;
    text-align: left;
    padding-bottom: 3.5rem; }
  .main-info footer {
    clear: both; } }
@media screen and (min-width: 510px) and (min-width: 840px) {
  header .company {
    display: block;
    width: 100%;
    text-align: left; }
  header .title {
    margin: 0;
    float: left;
    display: inline-block; }
  header ul {
    padding-right: 2rem; }
    header ul .header-icons {
      text-align: center;
      float: right;
      margin-top: -2rem; }
  header main .main-info .main-wrapper {
    width: 31%;
    margin: 1%;
    float: left; }
    header main .main-info .main-wrapper .main1 {
      width: 100%;
      float: left; }
    header main .main-info .main-wrapper .sushi-pic {
      width: 25%;
      float: none; }
    header main .main-info .main-wrapper .main-heading {
      float: none;
      margin: 0.5rem 0;
      text-align: left;
      font-size: 1.1rem;
      width: 100%; }
    header main .main-info .main-wrapper .main-text {
      float: none;
      font-size: 0.9rem;
      text-align: left;
      padding-bottom: 3.5rem;
      padding-left: 0;
      margin: 0;
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
