@import '_variables.scss';
body {
    color: $main-color;
    font-family: helvetica;
    text-align: center;
}
header {
    margin-right: 0;
    .company {
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 9px;
        font-size: 1.2rem;
    }
    .fa-question-circle-o {
        vertical-align: super;
        font-size: 1rem;
    }
    .title {
        font-size: 2.3rem;
        font-weight: 400;
        margin-top: 0;
    }
    ul {
        padding-left: 0;
        .header-icons {
            border: 4px solid $main-color;
            list-style-type: none;
            display: inline-block;
            border-radius: $border-radius;
            width: 19px;
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
}
nav {
    .tabs {
        margin: 0;
        padding: 3rem 0;
        list-style-type: none;
        .tab {
            float: left;
            width: 20%;
            padding: 1rem 0.05rem;
            border: solid $main-color;
            border-width: 1px 1px 1px 1px;
            box-sizing: border-box;
        }
        .tab:hover {
            border-top: 2px solid $main-color;
            border-bottom: 0;
            margin: 0;
        }
        .tab:first-child {
            border-left: 0;
        }
        .tab:last-child {
            border-right: 0;
        }
        .tab a {
            text-decoration: none;
            color: $main-color;
        }
        .tab:hover a {
            color: #CAD4DA;
        }
        label {
            margin-left: 0 auto;
            font-size: 1.5rem;
        }
        [type=radio] {
            display: none;
        }
    }
}
.main-wrapper {
    padding-top: 3rem;
    .main1 {
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem;
        background-color: $main-color;
    }
    .sushi-pic {
        width: 25%;
        background-color: white;
        padding: 2rem;
        border-radius: $border-radius;
        color: $main-color;
    }
    .main-heading {
        font-size: $header;
    }
    .main-text {
        font-size: $copy-size;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
footer {
    padding-top: 3rem;
    a {
        text-decoration: none;
        color: #CAD4DA;
    }
}
@media screen and (min-width:510px) {
    nav {
        padding-left: 9rem;
        padding-bottom: 0.9rem;
        border-bottom: 1px solid $main-color;
        margin: 0;
        width: 100%;
        .tabs {
            width: 50%;
            .tab {
                border-width: 1px 1px 0 1px;
            }
            .tab:hover {
                border-bottom: 2px solid white;
            }
            .tab:first-child {
                border-left: 1px solid $main-color;
            }
            .tab:last-child {
                border-right: 1px solid $main-color;
            }
        }
    }
    .main-info {
        .main-wrapper {
            .main1 {
                float: left;
                width: 28%;
                background-color: $main-color;
            }
            .sushi-pic {
                width: 15%;
                background-color: white;
                padding: 2rem;
                border-radius: $border-radius;
                color: $main-color;
            }
            .main-heading {
                margin-top: 0;
                margin-bottom: 0.5rem;
                margin-left: 17rem;
                text-align: left;
                font-size: 1.1rem;
            }
            .main-text {
                font-size: 0.9rem;
                margin-top: 0;
                margin-left: 15rem;
                text-align: left;
                padding-bottom: 3.5rem;
            }
        }
        footer {
            clear: both;
        }
    }
    @media screen and (min-width:840px) {
        header {
            .company {
                margin-left: -76.5rem;
            }
            .title {
                margin-top: 3rem;
                float: left;
                display: inline-block;
            }
            ul {
                padding-right: 2rem;
                .header-icons {
                    text-align: center;
                    float: right;
                    margin-top: -2rem;
                }
            }
            main {
                .main-info {
                    .main-wrapper {
                        width: 31%;
                        margin: 1%;
                        float: left;
                        .main1 {
                            width: 100%;
                            float: left;
                        }
                        .sushi-pic {
                            width: 25%;
                            float: none;
                        }
                        .main-heading {
                            float: none;
                            margin: 0.5rem 0;
                            text-align: left;
                            font-size: 1.1rem;
                            width: 100%;
                        }
                        .main-text {
                            float: none;
                            font-size: 0.9rem;
                            text-align: left;
                            padding-bottom: 3.5rem;
                            padding-left: 0;
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
      }
    }
